{% extends "shopapp/base.html" %}
{% block content %}
<h1>Заказ {{ order.pk }}</h1>
<p>Пользователь: {{ order.user.get_username }}</p>
<p>Продукты:</p>
<ul>
    {% for product in order.products.all %}
    <li>{{ product.name }} — {{ product.price }} ₽</li>
    {% empty %}
    <li>Нет продуктов</li>
    {% endfor %}
</ul>

<a href="{% url 'shopapp:order_list' %}">Вернуться к заказам</a> |
<a href="{% url 'shopapp:order_update' order.pk %}">Обновить заказ</a> |
<a href="{% url 'shopapp:order_delete' order.pk %}">Удалить заказ</a>


{% endblock %}
